{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>My First Go Project</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>My First Go Project</h1>   
{{ end }}